.bit-encoder-container,
.bit-decoder-container {
  width: 80%;
  margin: 5% auto;
  padding: 3% 3% 10%;
  background-color: #fff;
  border-radius: 5px;

  button {
    margin: 0 auto;
    display: block;
    line-height: 0;
  }
}
